.container {
  padding: 0 50px;
  box-shadow: 3px 3px 1px rgb(0 0 0 / 32%);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.item {
  margin: 8px 16px;
}
