.card {
  padding: 10px;
  text-align: center;
  box-shadow: 6px 3px 13px 1px rgb(0 0 0 / 35%);
  min-width: 200px;
  width: 500px;
  border-radius: 12px;
  margin: 12px;
  display: inline-block;
  cursor: pointer;
}
